
 <footer class="site-footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4">
        <h3>Phone Support</h3>
        <p>24/7 Call us now.</p>
        <p class="lead"><a href="tel://">+20 1024748172</a></p>
      </div>
      <div class="col-md-4">
        <h3>Connect With Us</h3>
        <p>We are socialized. Follow us</p>
        <p>
          <a href="#" class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
          <a href="#" class="p-3"><span class="fa fa-twitter"></span></a>
          <a href="#" class="p-3"><span class="fa fa-instagram"></span></a>
          <a href="#" class="p-3"><span class="fa fa-vimeo"></span></a>

        </p>
      </div>
      <div class="col-md-4">
        <h3>Connect With Us</h3>
        <ul>
          <li><a class="nav-link scrollto  "  routerLinkActive="active" routerLink="home" >Home</a></li>
          <li><a class="nav-link scrollto"   href="#"routerLinkActive="active" routerLink="search">Search</a></li>
          <li><a class="nav-link scrollto" routerLinkActive="active"  routerLink="/services">Services</a></li>
          <li><a class="nav-link scrollto"  routerLinkActive="active" routerLink="about">About Us</a></li>
           <li><a class="nav-link scrollto"routerLinkActive="active"  routerLink="contact">Contact</a></li>
       </ul>
      </div>
    </div>
