<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
  <div class="container d-flex align-items-center justify-content-between position-relative">
    <div class="logo">
      <h1 class="text-light"><a href="index.html"><span>PlaceMate</span></a></h1>
    </div>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto  " routerLinkActive="active" routerLink="/home">Home</a></li>
        <li><a class="nav-link scrollto" href="#" routerLinkActive="active" routerLink="/search">Search</a></li>
        <li><a class="nav-link scrollto" routerLinkActive="active" routerLink="/services">Services</a></li>
        <li><a class="nav-link scrollto" routerLinkActive="active" routerLink="/about">About Us</a></li>
        <li><a class="nav-link scrollto" routerLinkActive="active" routerLink="/contact">Contact</a></li>
        <li><a href="" class="me-4" routerLinkActive="active" routerLink="/log"><i class="fas fa-user fs-4"></i></a>
        </li>
      </ul>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
