.card
{
    margin-top:100px;
    border-radius: 15px;
    margin-bottom:50px;
}
.container-fluid
{
    overflow: hidden;
}
.serviceImg
{
    cursor: pointer;
    height:350px;
    width:100%;
    border-radius: 15px;
}
a.btn
{
  background:#acaca6;
  color: rgb(253, 253, 252);

}
